grafiki/psd_sketch/MG_board.sketch
grafiki/psd_sketch/MG_Openform.sketch
grafiki/psd_sketch/MG_Openform (1)-sketch.psd
grafiki/jpg/main/strona główna tablet.png
grafiki/jpg/main/strona główna mobile.png
grafiki/jpg/main/strona główna (1).png
grafiki/jpg/main/kalendarz wydarzen mobile.png
frontEnd/dev/home_.html
frontEnd/dev/deta_l.html
package-lock.json
grafiki/jpg/main/strona główna_mobile (1).png
grafiki/jpg/main/kalendarium_kalendarz otwarty.png
grafiki/jpg/main/kalendarium.png
grafiki/jpg/main/detal (1).png
frontEnd/dev/kalendarium_kalendarz_.html
