footer {
    background: #000;
    width: 100%;
    max-width: 1600px;
    margin: auto;
    position: relative;
    * {
        color: #fff;
    }
    .row {
        display: flex;
        flex-direction: column;
        font-size: rem(16px);
        font-family: $font-primary-light;
        @media only screen and (max-width: 767px) {
            flex-direction: column;
            padding: 0 15px;
        }
        .row_tablet_box{
            display: flex;
            .d{
                flex: 1;
            }
        }
        &>.d{
            display: flex;
            justify-content: space-between;
            width: 180px;
            align-items: center;
            padding: 20px 0 0 0;
            span{
                font-size: rem(14px);
            }
        }
        .fb{
            background: #4267b2;
            border-radius: 50%;
            width: 50px;
            height: 50px;
            display: flex;
            justify-content: center;
            align-items: center;
            transition: all 0.3s;
            &:hover{
                background: #2e4a81;
            }
        }
        .d:first-child {
            padding: 0 15px 0 0;
            a{
                transition: all 0.3s;
                &:hover{
                    color: #a8a8a8;
                }
            }
        }
    }
    .c-content_container {
        padding: 45px 70px;
        position: relative;
    }
}
.o-copyright {
    display: flex;
    font-family: $font-primary-light;
    font-size: rem(14px);
    position: absolute;
    right: 90px;
    bottom: 50px;
    flex-direction: column;
}
.o-newsletter {
    padding: 30px 20px;
    background: #222;
    border-radius: 3px;
    margin: 0 0 40px 0;
    #newsletter {
        display: flex;
        align-items: center;
        justify-content: space-between;
        .info_label_box{
            display: flex;
            flex-direction: column;
            width: 350px;
        }
        // & > *{
        //     margin: 0 10px;
        // }
    }
    #news_email {
        width: 305px;
        background: none;
        border: none;
        border-bottom: 1px solid $gray_light_4;
        height: 40px;
        font-family: $font-primary-light;
        font-size: rem(14px);
    }
    .accept_reg_checkbox {
        display: flex;
        align-items: center;
        position: relative;
        padding: 15px 0 0 0;
    }
    [type="checkbox"] {
        height: 20px;
        width: 20px;
        position: relative;
        margin: 0 10px 0 0;
    }
    [type="submit"] {
        color: #000;
        background: #fff;
        border: 0px;
        padding: 15px 100px;
        border-radius: 3px;
        font-family: $font-primary-bold;
        font-size: rem(16px);
        transition: all 0.3s;
        &:hover{
            background: #cacaca;
        }
    }
    .accept {
        color: $gray_light_4;
        font-size: rem(12px);
        margin-left: 0px !important;
        font-family: $font-primary-light;
    }
    .info_label {
        font-size: rem(16px);
    }
}
@media only screen and (max-width: 767px) {
    .c-content_container {
        width: 100%;
        padding: 15px;
    }
    footer {
        .c-content_container {
            padding: 15px;
        }
        .row{
            .row_tablet_box{
                flex-direction: column;
            }
            & > .d{
                flex-direction: column;
                align-items: flex-start;
            }
            .fb{
                margin: 20px 0;
            }
        }
    }
    .o-newsletter {
        margin: 30px 0;
        padding: 30px 15px;
        #newsletter {
            flex-direction: column;
            align-items: flex-start;
            & > * {
                margin: 15px 0;
                max-width: 100%;
            }
        }
        #news_email{
            width: auto;
        }
        .accept_reg_checkbox_box{
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            width: 100%;
        }
    }
    .o-copyright{
        position: static;
        padding: 0 15px 15px 15px;
    }
}

@media only screen and (min-width: 1025px){
    footer{
        .c-content_container{
            padding: 45px 30px;
        }
        .o-newsletter{
            #newsletter{
                justify-content: space-between;
            
                .info_label_box{
                    flex: 1;
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    flex-direction: row;
                }
            }
            .accept_reg_checkbox_box{
                display: flex;
                flex: 1;
                justify-content: flex-end;
            }
            .accept_reg_checkbox{
                order: 1;
                display: flex;
                align-items: center;
                padding: 0 10px 0 0;
            }
            [type="submit"]{
                order: 2;
            }
        }
        .row{
            flex-direction: row;
            .row_tablet_box{
                flex: 3;
            }
            &>.d{
                flex: 1;
                flex-direction: column;
                justify-content: center;
                span{
                    padding: 0 0 20px 0;
                }
            }
        }
        .o-copyright{
            position: static;
            display: flex;
            flex-direction: row;
            padding: 70px 0 0 0;
            .copy_l, .copy_r{
                flex: 1;
            }
            .copy_r{
                text-align: right;
            }
        }
    }
}
    
@media only screen and (min-width: 1390px) {
    footer{
        .c-content_container{
            padding: 75px 30px;
        }
        &:after, &:before {
            content: " ";
            position: absolute;
            top: 30px;
            background: #fff;
            right: 30px;
        }
        &:after{
            width: 40px;
            height: 100px;
        }
        &:before{
            width: 100px;
            height: 40px;
        }
    }
}