.c-index{
  display: grid;
  grid-template-columns: repeat(3, 390px);
  grid-gap: 30px;
  position: relative;
  z-index: 1;
  @media only screen and (max-width: 767px) {
    flex-wrap: wrap;
    display: flex;
    flex-direction: column;
  }
  h2 {
    margin: 40px 0 20px 0;
    width: auto;
  }
  p{
    font-size: rem(14px);
  }
  // a {
  //   @media only screen and (max-width: 767px) {
  //     margin-bottom: 40px;
  //   }
  // }
  header {
    width: 100%;
    flex-shrink: 0;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .o-info-box { // TODO: PRZENIESC DO IFOBOX
    position: absolute;
    top: 20px;
    left: 20px;
    width: calc(100% - 70px);
    @media only screen and (max-width: 767px) {
      top: 15px;
      left: 15px;
      padding: 5px;
      font-size: rem(12px);
      &:before {
          margin-right: 5px;
      }
    }
    @media only screen and (min-width: 768px) {
      span{
        font-size: rem(11px);
      }
    }
    @media only screen and (min-width: 1300px) {
      span{
        font-size: rem(16px);
      }
    }
  }
  &_vertical {
    
    @media only screen and (min-width: 768px) and (max-width: 1024px) {
      grid-template-columns: repeat(2, calc(50% - 8px));
      grid-gap: 30px;
        header {
              grid-column-end: 3;
          }
      }
    // @media only screen and (min-width: 768px) and (max-width: 1024px) {
    //   grid-template-columns: repeat(3, calc(33% - 8px));
    // }
    .o-index_item {
      position: relative;
      text-align: center;
      height: 320px;
      display: flex;
      flex-direction: column;
      @media only screen and (min-width: 768px) {
        height: 400px;
      }
      p{
        overflow: hidden;
        transition: all 0.3s ease-out;
        @media only screen and (min-width: 1025px) {
          max-height: 0;
        }
      }
      picture {
        border-radius: 3px;
        overflow: hidden;
        height: auto;
        max-height: 240px;
        transition: all 0.3s ease-out;
      }
      @media only screen and (min-width: 1025px) {
        &:hover{
          p {
              transition: all 0.3s ease-in;
              max-height: 100px;
          }
          picture {
              max-height: 190px;
              transition: all 0.3s ease-in;
          }
        }
      }
      .bottom_bar {
        width: 50px;
        height: 2px;
        display: block;
        margin: auto;
        margin: 20px auto 0;
      }
      &.is_orange .bottom_bar{
        background-color: $orange;
      }
      &.is_blue_1 .bottom_bar{
        background-color: $blue_1;
      }
      &.is_blue_2 .bottom_bar{
        background-color: $blue_2;
      }
      &.is_blue_3 .bottom_bar{
        background-color: $blue_3;
      }
      &.is_blue_4 .bottom_bar{
        background-color: $blue_4;
      }
      &.is_yellow .bottom_bar{
        background-color: $yellow;
      }
      &.is_dark-pink .bottom_bar{
        background-color: $dark-pink;
      }
      &.is_red .bottom_bar{
        background-color: $red;
      }
      &.is_green .bottom_bar{
        background-color: $green;
      }
      &.is_gray_1 .bottom_bar{
        background-color: $gray_1;
      }
      &.is_gray_2 .bottom_bar{
        background-color: $gray_2;
      }
    }
  }
  &_horizontal {
    grid-template-columns: repeat(2, 600px);
    header {
      grid-column-end: 3;
    }
    .o-index_item {
      display: flex;
      flex-direction: row;
      background: #fff;
      position: relative;
      transition: all 0.3s;
      @media only screen and (max-width: 767px) {
        flex-direction: column !important;
      }
      &:hover{
        opacity: 0.9;
      }
      span.is_orange {
        background-color: $orange;
      }
      span.is_blue_1{
        background-color: $blue_1;
      }
      span.is_blue_2{
        background-color: $blue_2;
      }
      span.is_blue_3{
        background-color: $blue_3;
      }
      span.is_blue_4{
        background-color: $blue_4;
      }
      span.is_yellow{
        background-color: $yellow;
      }
      span.is_dark-pink{
        background-color: $dark-pink;
      }
      span.is_red{
        background-color: $red;
      }
      span.is_green{
        background-color: $green;
      }
      span.is_gray_1{
        background-color: $gray_1;
      }
      span.is_gray_2{
        background-color: $gray_2;
      }
    }
    .o-index_content {
      padding: 20px 30px;
      display: flex;
      flex: 1;
      flex-direction: column;
      align-items: baseline;
      @media only screen and (max-width: 767px) {
        padding: 20px 15px;
      }
    }
    .o-more-loader{
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;
    }
    p{    
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 4;
      line-height: 1.3;
      max-height: 72px;
      &.date {
        font-size: rem(16px);
        margin-bottom: 10px;
        margin-top: auto;
        @media only screen and (max-width: 767px) {
          position: relative;
          bottom: initial;
          margin: 15px 0;
        }
      }
    }
    a.o-index_more {
      grid-column-start: 1;
      grid-column-end: 3;
      text-align: center;    
      margin: 30px 0;
      span{
        transition: all 0.3s;
        display: inline-block;
        &:hover{
          background: #e0e0e0;
        }
      }
      
    }
    .o-index_button{
      display: flex;
      flex-direction: column;
      span {
        padding: 10px 24px;
        color: #fff;
        border-radius: 3px;
        margin: 3px 0;
        font-size: rem(14px);
        font-family: $font-primary-light;
        padding: 10px 25px;
      }
    }
    .is-featured{
      img {
        border: 6px solid $green;
      }
      span.featured_text{
        background-color: $green; 
        position:  absolute;
        padding: 18px 20px 15px;
        color:  #fff;
        font-family: $font-primary-bold;
        font-size: rem(14px);
        top: 0px;
        left: 0px;
      }
    } 
    @media only screen and (max-width: 767px) {
      .o-index_more span {
        padding: 15px 45px;
        display: inline-block;
        color: #000;
        border: 2px solid #000;
        border-radius: 3px;
      }
      a:nth-child(4n + 2) .o-index_item, a:nth-child(4n + 3) .o-index_item {
        flex-direction: column;
      }
    }
  }
  &_mixer{
    a:nth-child(4n + 4) .o-index_item, a:nth-child(4n + 5) .o-index_item {
      flex-direction: row-reverse;
    }
  }
  .o-index_big_tile{
    grid-row-start: 2;
    grid-row-end: 4;
    h3{
      margin: 50px 0;
    }
    & > div {
      flex-direction: column;
    }
    .o-index_content {
        height: 100%;
    }
    .o-index_item {
      flex-direction: column;
      height: 100%;
      img{
        max-width: initial;
      }
    }
  }
  .has_arrow{
    &:after, &:before{
      content: " ";
      position: absolute;
      top: 10px;
      right: 10px;
      @media only screen and (max-width: 767px) {
        top: 15px;
        right: 15px;
      }
    }
    &:before{
      width: 15px;
      height: 40px;
      @media only screen and (max-width: 767px) {
        height: 30px;
        width: 10px;
      }
    }
    &:after{
      width: 40px;
      height: 15px;
      @media only screen and (max-width: 767px) {
        width: 30px;
        height: 10px;
      }
    }
    &.is_orange{
      &:after, &:before{
        background-color: $orange;
      }
    }
    &.is_blue_1{
      &:after, &:before{
        background-color: $blue_1;
      }
    }
    &.is_blue_2{
      &:after, &:before{
        background-color: $blue_2;
      }
    }
    &.is_blue_3{
      &:after, &:before{
        background-color: $blue_3;
      }
    }
    &.is_blue_4{
      &:after, &:before{
        background-color: $blue_4;
      }
    }
    &.is_yellow{
      &:after, &:before{
        background-color: $yellow;
      }
    }
    &.is_dark-pink{
      &:after, &:before{
        background-color: $dark-pink;
      }
    }
    &.is_red{
      &:after, &:before{
        background-color: $red;
      }
    }
    &.is_green{
      &:after, &:before{
        background-color: $green;
      }
    }
    &.is_gray_1{
      &:after, &:before{
        background-color: $gray_1;
      }
    }
    &.is_gray_2{
      &:after, &:before{
        background-color: $gray_2;
      }
    }
  }
  .o-index_item {
    p{
      font-family: $font-primary-light;
    }
    .o-hovered_title{
      display: none;
      bottom: 0px;
      padding: 15px;
      background-color: rgba(0,0,0,0.6);
      color: #fff;
      font-family: $font-primary-bold;
      font-size: rem(16px);
      position: absolute;
    }
    &:hover{
      .o-hovered_title {
        display: block;
      }
    }
  }
 }
@media only screen and (min-width: 768px) and (max-width: 1024px) {
  .c-content_container {
    max-width: 100%;
  }
  .o-info-box {
    padding: 10px;
    &:before {
      margin-right: 10px;
    }
    &--large {
      padding: 20px;
      margin: 0px;
      width: calc(100%);
    }
  }
  .main_content_inner {
    padding: 15px;
  }
  .c-index_horizontal, .c-index_vertical {
    grid-template-columns: repeat(2, calc(50% - 8px));
    grid-gap: 15px;
  }
  .c-index_horizontal {
    .o-index_item {
      flex-direction: column !important;
    }
    p.date {
      position: relative;
      bottom: 0px;
      margin: 15px 0;
    }
  }
}
@media only screen and (min-width: 1025px) and (max-width: 1460px) {

  .c-index_vertical {
  grid-template-columns: repeat(3, calc(33% - 15px));
  }
  .c-index_horizontal {
    grid-template-columns: repeat(2, calc(50% - 15px));
    p{
      -webkit-line-clamp: 3;
      max-height: 54px;
    }
  }

}
@media only screen and (min-width: 1025px) and (max-width: 1300px) {
  .c-index{
    &_horizontal {
   //   grid-template-columns: repeat(2, 468px);
      .o-index_content{
        padding: 20px;
        h3{
          line-height: 24px;
        }
      }
      .o-index_big_tile {
        p.date {
          position: relative;
          bottom: 0px;
        }
        h3 {
          margin: 20px 0;
        }
      }
      .o-index_item{
        height: 360px;
      }
    }
    .o-index_item .o-hovered_title {
      font-size: rem(12px);
    }
  }
}

@media only screen and (max-width: 768px) {

  .c-index_vertical .o-index_item {
    height: initial;
    margin-bottom: 30px;
  }

}