.o-info-box{
    background: $light_green;
    color: $green;
    border-radius: 3px;
    padding: 10px;
    font-size: rem(14px);
    font-family: $font-primary-bold;
    display: flex;
    line-height: 1.2;
    align-items: center;
    text-align: left;
    @media only screen and (max-width: 1024px) {
        &--large {
            width: calc(100% + 15px);
            margin: -15px 0 0 -15px;
            padding: 20px 30px;
        }
    }
    &:before {
        content: "\e902";
        font-family: "icomoon";
        margin: 0 15px 0 5px;
    }
    strong{
      font-family: $font-primary-bold;
    }
    &--large {
        justify-content: center;
    }
    span{
        font-family: $font-primary-light;
        font-size: rem(14px);
    }
}