
$max-breakpoint: 1930;
$wide-screen: "(min-width: #{$max-breakpoint}px)";
$base-font-size: 16px;

$font-primary: 'Gotham-Medium';
$font-primary-bold: 'Gotham-Bold';
//$font-primary-semibold: 'Asap-SemiBold';
$font-primary-light: 'Gotham-Book';